main {
  color: purple;
}

nav ul li {
  list-style-type: none;
  color: white;
}
nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

nav ul {
  border-radius: 10px;
  background-color: tomato;
  border-style: solid;
  border-color: MediumVioletRed;
  border-width: 2px;
  padding: 10px;
}
nav ul li :hover {
  color: white;
  text-decoration: none;
}
